.yazicerik{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.yazicerik h2{
    margin-block: 20px;
}

.yazicerikbtn{
    padding: 5px 20px;
    border: none;
    background-color: #1495a9;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    z-index: 2;
}
.yazicerikbtn:hover{
    background-color: #30acbf;
}

.quill{
    width: 90%;
    height: 70vh;
    margin-bottom: 8vh;
}

.yazicerikbb{
    width: 90%;
    margin-bottom: 30px;
}
.yazicerikinput{
    padding: 5px 10px;
    resize: none;
    height: 35px;
    border: 1px solid #c2c2c2;
    font-size: medium;
}
.yazicerikinput:focus{
    outline: 1px solid #45c7db;
    border-radius: 2px;
}

@media screen and (max-width: 450px) {
    .quill{
        width: 96%;
        margin-bottom: 8vh;
    }
}
@media screen and (max-width: 390px) {
    .quill{
        margin-bottom: 12vh;
    }
}