.kitapicerik{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 30px;
}
.kitiust{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    /* border-bottom: 1px solid #c7c7c7; */
}
.kitistatik{
    display: flex;
    margin-top: 20px;
}
.ki-read-count{
    margin-right: 10px;
}
.ki-read-count, .ki-vote-count{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #5e5e5e;
}
.yildizla{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
}
.yildizlaicon{
    margin-right: 10px;
    font-size: x-large;
    color: #c7c7c7;
    cursor: pointer;
}
.yildizlaicon:hover{
    color: #45c7db;
}
.kitby{
    color: black;
    text-decoration: none;
}
.kitby:hover{
    text-decoration: underline;
}
.kitalt{
    width: 90%;
    margin-block: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px, rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
}

.kitapicerikbutons1{
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 110px;
    color: white;
    background-color: #1cb1c8;
    cursor: pointer;
    margin-right: 20px;
}
.kitapicerikbutons2{
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 110px;
    color: white;
    background-color: crimson;
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .kitalt p{
        font-size: small;
    }
}